/* reset -------------------------- */
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
dfn,
del,
p,
blockquote,
fieldset,
input,
textarea,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
button,
canvas,
video {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
th,
dfn,
del {
    font-weight: normal;
    font-style: normal;
}
ul,
ol {
    list-style: none;
}
fieldset,
img {
    border: none;
}
caption,
th {
    text-align: left;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    cursor: pointer;
    line-height: normal;
}
button,
input {
    line-height: normal;
}
input[type="hidden"],
[hidden],
.hidden {
    display: none;
}
textarea {
    overflow: auto;
    resize: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
.clearfix {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
a > img {
    vertical-align: bottom;
}
strong,
b {
    font-weight: bold;
}
em,
i {
    font-style: italic;
}
del {
    text-decoration: line-through;
}
:focus {
    outline: none;
}


/* tools -------------------------- */
.clear {
    clear: both;
    display: block;
    line-height: 0;
    height: 0;
    font-size: 0;
}
.clearfix:after,
.wrap:after,
aside:after,
section:after,
article:after,
.text:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}
.align-left {
    float: left !important;
}
.align-right {
    float: right !important;
}
.overflow-hidden {
    overflow: hidden;
    display: block;
}
/*end reset*/

header {
    padding: 69px 0;
}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}
.four{
    width: auto;
	height: auto;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  
  /*gradient*/
  font-family: Arial;
  font-size: 100px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

